<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>🐍❌(🍓🍞)=👕👖</title>
    <!-- GEDDIT? -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nuclear.min.css') }}">
    <script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
    <link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
  </head>

  <body>
    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://pyjam.as/"><b>PYJAM.AS</b>/🐍</a>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div id="comment-section"></div>
  </body>
  <script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "pyjam.as",
    commentSectionId: "main"
  })
  </script>
</html>
