{% extends 'base.j2.html' %}


{% block content %}
    <center>
      <br>
      <h1 class="title is-1"> Hello, world!  </h1>
      <br>

      <code>
<pre style="line-height:100%;">
 ██████▒  ███    ███    █████    ▒██▒    ███  ███        ▒██▒     ▒████▒  
 ███████▒ ░██▒  ▒██░    █████    ▓██▓    ███  ███        ▓██▓    ▒██████  
 ██   ▒██  ███  ███        ██    ████    ███▒▒███        ████    ██▒  ▒█  
 ██    ██   ██▒▒██         ██    ████    ███▓▓███        ████    ██       
 ██   ▒██   ▓████▓         ██   ▒█▓▓█▒   ██▓██▓██       ▒█▓▓█▒   ███▒     
 ███████▒    ████          ██   ▓█▒▒█▓   ██▒██▒██       ▓█▒▒█▓   ▒█████▒  
 ██████▒     ▒██▒          ██   ██  ██   ██░██░██       ██  ██    ░█████▒ 
 ██           ██           ██   ██████   ██ ██ ██       ██████       ▒███ 
 ██           ██           ██  ░██████░  ██    ██      ░██████░        ██ 
 ██           ██     █▒   ▒██  ▒██  ██▒  ██    ██      ▒██  ██▒  █▒░  ▒██ 
 ██           ██     ███████▓  ███  ███  ██    ██  ██  ███  ███  ███████▒ 
 ██           ██     ░█████▒   ██▒  ▒██  ██    ██  ██  ██▒  ▒██  ░█████▒  </pre>
      </code>
    <h2 class="title is-2">Sponsors</h2>
      <br/>
      <img style="width: 200px"src="https://uploads-ssl.webflow.com/5faac1442ad1ac13a77e727b/61091bdb5ceeee71d8753439_Astat%20main%20logo%20white-p-500.png"</img>
    </center>
    <a href="/HA-GØH" style="color: black;">secret</a>
{% endblock %}
