<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>🐍 ❌ (🍓🍞) = 👕👖</title>
    <!-- GEDDIT? -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nuclear.min.css') }}">
  </head>

  <body>
    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://pyjam.as/"><b>PYJAM.AS</b>/🐍</a>
      </div>
    </nav>

    <div class="container">
      <br>
      <center>
        <h1 class="title is-1">
          Hello, world!
        </h1>
      </center>
      <br>
    </div> <!-- /container -->

    <center>
      <pre style="line-height:100%;">
        <code>
 ██████▒  ███    ███    █████    ▒██▒    ███  ███        ▒██▒     ▒████▒  
 ███████▒ ░██▒  ▒██░    █████    ▓██▓    ███  ███        ▓██▓    ▒██████  
 ██   ▒██  ███  ███        ██    ████    ███▒▒███        ████    ██▒  ▒█  
 ██    ██   ██▒▒██         ██    ████    ███▓▓███        ████    ██       
 ██   ▒██   ▓████▓         ██   ▒█▓▓█▒   ██▓██▓██       ▒█▓▓█▒   ███▒     
 ███████▒    ████          ██   ▓█▒▒█▓   ██▒██▒██       ▓█▒▒█▓   ▒█████▒  
 ██████▒     ▒██▒          ██   ██  ██   ██░██░██       ██  ██    ░█████▒ 
 ██           ██           ██   ██████   ██ ██ ██       ██████       ▒███ 
 ██           ██           ██  ░██████░  ██    ██      ░██████░        ██ 
 ██           ██     █▒   ▒██  ▒██  ██▒  ██    ██      ▒██  ██▒  █▒░  ▒██ 
 ██           ██     ███████▓  ███  ███  ██    ██  ██  ███  ███  ███████▒ 
 ██           ██     ░█████▒   ██▒  ▒██  ██    ██  ██  ██▒  ▒██  ░█████▒  
        </code>
      </pre>
    </center>
  </body>
</html>
