{% extends 'base.j2.html' %}

{% block content %}
<style>
#rules{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 0 auto;
    width: 500px;
    font-family: "sans-serif";
    font-size: x-large;
}
.suit{
    text-align: right;
    padding-right: 5px;
}
.rule{
    text-align: left;
    
}
.rule::before{
    padding-right: 2px;
    content: "=";
}
</style>
<div id="rules">
    <span class="suit"> &#127137;, &hellip;, &#127141; </span><span class="rule"> Tag 1, &hellip;, 5 tår(e)</span>
    <span class="suit" style="color: darkred"> &#127153;, &hellip;, &#127157; </span><span class="rule"> Giv 1, &hellip;, 5 tår(e)</span>
    <span class="suit"> &#127142; </span><span class="rule"> ISO standard (regel)</span>
    <span class="suit"> &#127143; </span><span class="rule"> FizzBuzz</span>
    <span class="suit"> &#127144; </span><span class="rule"> <kbd>&lt;C-r&gt;</kbd> (jeg har aldrig)</span>
    <span class="suit"> &#127145; </span><span class="rule"> Hackermærkeleg</span>
    <span class="suit"> &#127146; </span><span class="rule"> RFC (regel)</span>
    <span class="suit"> &#127147; </span><span class="rule"> Vimskål</span>
    <span class="suit"> &#127149; </span><span class="rule"> Debian(baseret)skål</span>
    <span class="suit"> &#127150; </span><span class="rule"> <kbd>gpasswd -a user sudo</kbd> </span>
</div>
{% endblock %}
