{% extends 'base.j2.html' %}

{% block content %}
  <center>
<style>
.customlst {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}
.custom li:before {
  display: inline-block;
  content: attr(data-bullet);
  width: 50px;
  margin-left: -50px;
}
</style>
      <ul class="customlst">
        <li data-bullet="1,&ldots;,5">Giv en tår</li>
        <li data-bullet="1,&ldots;,5">Tag en tår</li>
        <li data-bullet="6">ISO standard</li>
        <li data-bullet="7">FizzBuzz</li>
        <li data-bullet="8"><kbd>CTRL</kbd>+<kbd>R</kbd> (jeg har aldrig)</li>
        <li data-bullet="9">Hackermærkeleg</li>
        <li data-bullet="10">RFC</li>
        <li data-bullet="11">VIM-skål</li>
        <li data-bullet="12">debian(baseret)skål</li>
        <li data-bullet="13">BDFL med root privilegier (<code>sudo</code> siger)</li>
      </ul>
  </center>
{% endblock %}
